button:focus, input:focus{
    outline: none;
}
#plus {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
}
#menu, #add, .menuitem {
	border: none;
	padding: 12px 20px;
	transition-duration: 0.4s;
	background-color: #fff;
    color: #303030;
	cursor: pointer;
}
#menu {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 24px;
	height: 56px;
	width: 56px;
}
#add {
	width: 10%;
	font-size: 15px;
	border: 2px solid #C0C0C0;
}
#add:hover, #menu:hover, .menuitem:hover {
	background-color: #F5F5F5;
}
#add:active, #menu:active, .menuitem:active {
	transition-duration: 0.1s;
	background-color: #C0C0C0;
}
#new {
	width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
	box-sizing: border-box;
	font-size: 16px;
}
#code, #help {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bolder;
}
#help {
	font-size: 12px;
}
#menudropdown {
	display: "none";
	position: absolute;
	right: 0;
	top: 56px;
	height: 168px;
	width: 56px;
}
.menuitem {
	height: 56px;
	width: 56px;
	display: block;
}
.container {
    max-width: 34em;
	margin: 0 auto;
	font-size: 20px;
	font-family: Baskerville, Georgia, serif;
}
.strikethrough:before, .strikethroughalways:before {
	content: ' ';
	display: block;
}
.strikethroughalways {
	color: #808080;
}
.strikethrough {
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}
.strikethrough:hover {
	transition-duration: 0.01;
	color: #606060;
}
.strikethroughalways, .strikethrough {
	line-height: 1.5em;
	display: inline;
	position: relative;
	margin: 12px 20px;
	cursor: pointer;
}
.strikethroughalways:after {
	background: #808080;
	animation: strikethrough 0s cubic-bezier(.55, 0, .1, 1) 1;
}
.strikethrough:hover:after {
	background: #606060;
	animation: strikethrough 1s cubic-bezier(.55, 0, .1, 1) 1;
}
.strikethrough:hover:after, .strikethroughalways:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	margin-top: -0.7em;
	transform-origin: center left;
    transition: transform cubic-bezier(.55, 0, .1, 1);
}
.strikethroughalways:hover {
	color: #a9a9a9;
}
@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}